In [1]:
import pandas as pd
import nltk
nltk.download('stopwords')
import re
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [4]:
df=pd.read_csv("uintedstates.csv")
df

,Unnamed: 0,created_at,tweet
0,0,2022-11-27 21:12:42,RT @DiagolonMonkey: Interesting case has made ...
1,1,2022-11-27 21:12:29,@IvankaTrump Nothing says American patriotism ...
2,2,2022-11-27 21:12:27,"RT @theEverEarn: üí•#USA vs England was a draw, ..."
3,3,2022-11-27 21:12:21,RT @Heatherknows2: @reddogsusie #Tennessee #US...
4,4,2022-11-27 21:12:09,RT @UsColour: Joni Mitchell Classic T-Shirt\n‚ù§...
5,5,2022-11-27 21:11:41,RT @US_In_Reality: The U.S. Spends more on its...
6,6,2022-11-27 21:11:37,Anyone interested buying my 4 Taylor Swift Flo...
7,7,2022-11-27 21:11:30,"RT @ChinasaNworu: #USA govt., as world police,..."
8,8,2022-11-27 21:11:07,RT @ArmsAds: Nosler Varmageddon 308 Win\n.\n.\...
9,9,2022-11-27 21:11:01,Nosler Varmageddon 308 Win\n.\n.\n.\n.\n.\n#ar...

In [5]:
X1=df['tweet']



# 1. Remove non-letters        
X1 = X1.apply(lambda x: (re.sub("[^a-zA-Z]", " ", str(x)) ))
#X1= X1.apply(lambda x : re.sub(r'[^\w\s]', '',x))



# 2. Convert to lower case, split into individual words
X1= X1.apply(lambda x : str(x).lower())
words=X1.apply(lambda x: x.split())   



#3. create stopwords using NLP
stops = set(stopwords.words("english"))



# 4. removed stop words from the dataset
meaningful_words = pd.Series(words).apply(lambda x :  [item for item in x if item not in stops])
meaningful_words=meaningful_words.str.join(" ")

In [6]:
meaningful_words

0    rt diagolonmonkey interesting case made usa su...
1    ivankatrump nothing says american patriotism c...
2    rt theeverearn usa vs england draw everearn pa...
3    rt heatherknows reddogsusie tennessee usa moon...
4    rt uscolour joni mitchell classic shirt design...
5    rt us reality u spends military rest top highe...
6    anyone interested buying taylor swift floor ti...
7    rt chinasanworu usa govt world police stop pla...
8    rt armsads nosler varmageddon win armsads pewp...
9    nosler varmageddon win armsads pewpewlife surv...
Name: tweet, dtype: object

In [7]:
cleaned_data = pd.DataFrame(meaningful_words)
cleaned_data.to_csv("cleandata.csv")
print("Data cleaned and saved to csv")

Data cleaned and saved to csv